/* Zerando formatações padões*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*---------------------------------------------------*/
/*Configurando o BODY*/
body{
    font-family: "Neue Machina", arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F0F0;
    font-size: 100%;
    color: #151515;
}
/*---------------------------------------------------*/
/*Configurações de botões e inputs do site*/
.botao{ /*Configuração padrão do botão*/
    font-family: "Neue Machina";
    width: 145px;
    height: 52px;
    font-size: 18px;
}

.botao-branco{ /*Configuração de um botão transparente*/
    background-color: #F0F0F0;
    transition: all 0.5s;
}

.botao-branco:hover,
.sobre-nos:hover,
.botao-how:hover,
.botao-pricing:hover{
    background-color: #151515;
    color: #F0F0F0;
    transition: all 0.5s;
    cursor: pointer;
}

.botao-preto{ /*Configuração de um botão com fundo preto*/
    background-color: #151515;
    color: #F0F0F0;
    transition: all 0.5s;
}

.botao-preto:hover,
.enter-button:hover{
    background-color: #F0F0F0;
    color: #151515;
    border: 1px solid #151515;
    cursor: pointer;
    transition: all 0.5s;
}

.sobre-nos{ /*Configuração de um botão Sobre nós*/
    font-family: "Neue Machina";
    width: 108px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #151515;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.enter-button{ /*Configuração de um botão ao lado do e-mail*/
    font-family: "Neue Machina";
    width: 198px;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    background-color: #151515;
    color: #F0F0F0;
}

.botao-how{
    font-family: "Neue Machina";
    width: 155px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #151515;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.botao-pricing{
    font-family: "Neue Machina";
    width: 103px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #151515;
    margin-bottom: 20px;
    transition: all 0.5s;
}
/*-------------------E-mail-------------------*/
.enter-email{ /*Configuração padrão do e-mail*/
    width: 280px;
    height: 52px;
    border: 1px solid #151515;
}

.enter-email::placeholder{ /*Configuração padrão do placeholder do e-mail*/
    width: 152px;
    height: 26px;
    font-family: "Neue Machina";
    color: #151515;
    padding: 13px 180px 13px 20px;
    font-size: 18px;
    font-weight: 400;
}
/*---------------------------------------------------*/
/*Navegações*/
header{
    margin: 36px 80px 80px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 443px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

nav img{
    transition: all 1s;
}

nav img:hover{
    scale: 110%;
    transition: all 1s;
}
/*---------------------------------------------------*/
/*Formatando os links do menu principal*/

#lista-links-topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style: none;
}

#lista-links-topo li a{
    color: #151515;
    font-size: 18px;
}

#lista-links-topo li a:hover{
    color: #555555;
    border-bottom: 2px solid #555555;
}
/*---------------------------------------------------*/
/*Conteúdo principal do site*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 580px;
    margin-left: 60px;
    margin-bottom: 97px;
}

#lado-esquerdo-principal{
    margin-right: 140px;
}

#titulo-site{
    width: 721px;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 80px;
    margin-bottom: 20px;
}

.descricao-titulo{
    width: 565px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

#inputs{
    display: flex;
}

.links-pagamentos{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

.links-pagamentos li img{
    transition: all 1s;
}

.links-pagamentos li img:hover{
    scale: 110%;
    transition: all 1s;
}

#lado-direito-principal{
    width: 550px;
    height: 580px;
}
/*---------------------------------------------------*/
/*Primeira sessão do site*/
#sessao-1{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 96%;
    height: 750px;
    margin-bottom: 169px;
}

#lado-esquerdo-sessao-1{
    width: 600px;
    height: 100%;
    margin-right: 40px;
}

#titulo-2{
    width: 750px;
    height: 116px;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -3px;
    margin-bottom: 34px;
}

.descricao-dos-titulos{
    font-family: 'Neue Machina';
    width: 720px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 34px;
}

#lista-sessao-1{
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-image: url(../imagens/quadrado/dot_black.png);
    padding-left: 20px;
}

#lista-sessao-1 li h4{
    font-size: 20px;
    font-weight: 400;
}
/*---------------------------------------------------*/
/*Segunda sessão do site*/

#sessao-2{
    padding-top: 30px;
    width: 93%;
    margin: auto;
    height: 950px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#titulo-3{
    width: 750px;
    height: 116px;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -3px;
    margin-bottom: 104px;
}

#sessao-2 article{
    margin-left: 103px;
}

#conteudos-sessao-2{
    font-family: 'Neue Machina';
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    margin-top: 48px;
}

#conteudos-sessao-2 div h4{
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 17px;
}

#conteudos-sessao-2 div p{
    width: 499px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

/*Terceira sessão do site (preços)*/

#sessao-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 60px;
}

#lado-esquerdo-sessao-3{
    margin-right: 71px;
}

#titulo-4{
    width: 750px;
    height: 116px;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -3px;
    margin-bottom: 34px;
}

#sessao-3 aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}

#box-pricing{
    display: grid;
    height: 700px;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    margin-bottom: 202px;
}

.pricing-item{
    width: 440px;
    height: 644px;
    position: relative;
}

.item1{
    border: 1px solid #151515;
}

.item2{
    background-color: #151515;
}

.item3{
    background-color: #FFFFFF;
    border: 1px solid #151515;
}

.sifrao{
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    top: 52px;
    left: 40px;
}

.sifrao-white{
    color: #F0F0F0;
}

.price{
    padding: 30px 0 0 56px;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 31px;
}

.price-white{
    color: #F0F0F0;
}

.month{
    font-size: 20px;
    font-weight: 800;
    
}

#month-1{
    position: absolute;
    top: 100px;
    left: 180px;
}

#month-2{
    position: absolute;
    top: 100px;
    left: 180px;
    color: #F0F0F0;
}

#month-3{
    position: absolute;
    top: 100px;
    left: 240px;
}

.pricing-item span{
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

.item2 span{
    color: #F0F0F0;
}

.price-list{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-left: 80px;
    padding-top: 60px;
}

.price-list-black{
    list-style-image: url(../imagens/quadrado/dot_black.png);
}

.price-list-white{
    list-style-image: url(../imagens/quadrado/dot_white.png);
}

.price-list li h4{
    font-size: 18px;
    font-weight: 400;
}

.price-button{
    font-family: 'Neue Machina';
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 336px;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s;
}

.price-button-black{
    background-color: #151515;
    color: #F0F0F0;
}

.price-button-black:hover{
    background-color: #00000000;
    color: #151515;
    border: 1px solid #151515;
    transition: all 0.5s;
    cursor: pointer;
}

.price-button-white{
    background-color: #F0F0F0;
    color: #151515;
}

.price-button-white:hover{
    background-color: #00000000;
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
    transition: all 0.5s;
    cursor: pointer
}

/*Começo da sessãoo 4*/

#sessao-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1450px;
    height: 805px;
    margin: auto;
    margin-bottom: 200px;
}

#sessao-4 aside{
    width: 840px;
    height: 749px;
}

.botao-faqs{
    font-family: "Neue Machina";
    width: 76px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #151515;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.botao-faqs:hover{
    background-color: #151515;
    color: #F0F0F0;
    transition: all 0.5s;
    cursor: pointer;
}

#simbulo-faqs-1{
    margin-left: 350px;
}
#simbulo-faqs-2{
    margin-left: 245px;
}
#simbulo-faqs-3{
    margin-left: 154px;
}
#simbulo-faqs-4{
    margin-left: 236px;
}
#simbulo-faqs-5{
    margin-left: 268px;
}

#titulo-5{
    width: 554px;
    height: 58px;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -3px;
    margin-bottom: 32px;
}

.descricao-titulo-5{
    width: 532px;
    height: 78px;
    margin-bottom: 60px;
}

.perguntas-faqs{
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}

.perguntas-faqs-border{
    padding-bottom: 20px;
    border-bottom: 1px solid #151515;
}

#descricao-faqs{
    font-size: 18px;
    font-weight: 400px;
    line-height: 26px;
    padding-bottom: 20px;
    border-bottom: 1px solid #151515;
}


/*Começo do meu RODAPÉ*/

footer{
    font-family: 'Neue Machina';
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 560px;
    background-color: #151515;
    color: #F0F0F0;
}

footer #container{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 500px;
    margin: auto;
}

#esquerda-footer{
    padding: 10px;
    width: 48%;
    height: 100%;
}

#esquerda-footer>img{
    margin-left: 40px;
}

#redes-sociais{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px
}

#esquerda-footer h3{
    margin-top: 40px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 900;
    width: 320px;
    height: 56px;
}

.enter-email-black{ /*Configuração padrão do e-mail*/
    width: 280px;
    height: 52px;
    background-color: #151515;
    border: 1px solid #F0F0F0;

}

.enter-email-black::placeholder{ /*Configuração padrão do placeholder do e-mail*/
    width: 152px;
    height: 26px;
    color: #F0F0F0;
    padding: 13px 180px 13px 20px;
    font-size: 18px;
    font-weight: 400;
}

.enter-button-white{ /*Configuração de um botão ao lado do e-mail*/
    width: 198px;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    background-color: #F0F0F0;
    color: #151515;
    transition: all 0.5s;
}

.enter-button-white:hover{
    color: #F0F0F0;
    background-color: #00000000;
    border: 1px solid #F0F0F0;
    cursor: pointer;
    transition: all 0.5s;
}

#inputs-footer{
    display: flex;
    margin-left: 25px;
    margin-top: 40px;
}

#rights-reserved{
    font-weight: 100;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 80px;
}

#direita-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
    gap: 30px;
    width: 53%;
    height: 100%;
}

#direita-footer div{
    height: 186px;
}

#direita-footer>div h3{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 18px;
}

#direita-footer>div span{
    font-weight: 400;
    font-size: 18px;
}

#direita-footer > div:nth-child(2) ul,
#direita-footer > div:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
}

#direita-footer > div:nth-child(2) ul li a,
#direita-footer > div:nth-child(3) ul li a{
    color: #F0F0F0;
    font-weight: 100;
    font-size: 18px;
}